.container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 125px;
}

.image-card {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.image {
    width: 100%;
}